<ion-app>
    <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
          </ion-buttons>
          <ion-title text-capitalize>Email</ion-title>
        </ion-toolbar>
      </ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]='to'></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">CC</ion-label>
          <ion-input [(ngModel)]='cc'></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Subject</ion-label>
            <ion-input [(ngModel)]='subject'></ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea [(ngModel)]='message' rows="13" position="floating" placeholder="Enter Email Content here..."></ion-textarea>
          </ion-item>
        
            <ion-button expand="block" (click)="send()">Send</ion-button>
        
       
</ion-content>
</ion-app>