
  <ion-content center text-center >
  
      <ion-slides pager="true" *ngIf="!authenticationService.isAuthenticated()">
        
          <ion-slide class="step-three">
              <ion-img src="/assets/app_icon.png"></ion-img>
              <h1>App for Blind People</h1>
              <!-- <p>Text</p> -->
      
              <ion-button shape="round" expand="block" color="secondary" (click)="finish()">Start!</ion-button>
          </ion-slide>
          
      </ion-slides>
  
  </ion-content>
  
 
  
  
