<ion-app>
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{item.toolbarTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content transparent (dblclick)="start()">

    <ion-grid background-size [ngStyle]="{'background-image': 'url(' + item.background + ')'}">
      <ion-row>
        <ion-col size="12" style="text-align: center" class="ion-align-items-center ion-align-self-end">
          <div align-items-center ionic-description class="ion-no-padding">
            <ion-img margin style="display: inline-block; width: 100px; text-align: center;" margin-top src="assets/imgs/email.png"></ion-img>
            <!-- <h2 text-size-xs>
              {{item.title}}<br />
              {{item.subtitle}}
            </h2> -->
            <h3 text-size-sm class="ion-text-uppercase">{{item.subtitle2}}</h3>
          </div>
        </ion-col>
        <ion-col size="12" class="ion-align-self-end">
          <ion-item lines="none" [href]="item.link">
            <ion-label>
              <!-- <p class="ion-text-wrap" text-size-xs>{{item.description}}</p> -->
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </ion-content>

</ion-app>
<ion-fab style=" background-color: antiquewhite; border-radius: 50px;"  (click)="goTo('compose-email')" vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button >
      <ion-img margin style="display: inline-block; width: 60%; text-align: center;" margin-top src="assets/imgs/email.png"></ion-img>
      <!-- <ion-icon style="background-color: antiquewhite"  name="add"></ion-icon> -->
    </ion-fab-button>
  </ion-fab>