<ion-header>
  <ion-toolbar>
    <!-- <ion-title>EE - MAIL</ion-title> -->
    <ion-menu-button></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content center text-center >
  

  <ion-grid>
      <ion-row style="height:200px"></ion-row>
      <ion-row></ion-row>
      <ion-row></ion-row>
    <ion-row center>
        
          <ion-col class="animated swing delay-3s">
              <ion-icon name="eye" style="font-size: 300%;"></ion-icon>
                <h1 text-uppercase no-padding no-margin style="color:black; font-weight: bold;">EE - MAIL</h1>
                          <h3 style="color:black"  #box >Eye Electronic Mail</h3>
          </ion-col>
    </ion-row>
</ion-grid>
</ion-content>

<ion-footer >
  
    <ion-toolbar color="secondary">
      <ion-title style=" text-align: center;">An App for Blind Peopels</ion-title>
     
    </ion-toolbar>
  </ion-footer>



<!-- 
  export ANDROID_HOME=/home/taha/Android/Sdk
export PATH=${PATH}:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools
export JAVA_HOME=/usr/lib/jvm/java-8-oracle -->
