<!-- <ion-header>
  <ion-toolbar>
    <ion-title>EE - MAIL</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content center text-center >
  

  <ion-grid>
      <ion-row style="height:200px"></ion-row>
      <ion-row></ion-row>
      <ion-row></ion-row>
    <ion-row center>
        
          <ion-col>
              <ion-icon name="eye" style="font-size: 300%;"></ion-icon>
                <h1 text-uppercase no-padding no-margin style="color:black; font-weight: bold;">EE - MAIL</h1>
                          <h3 style="color:black">Eye Electronic Mail</h3>
          </ion-col>
    </ion-row>
</ion-grid>
</ion-content>

<ion-footer >
    <ion-toolbar >
      <ion-title style=" text-align: center;">An App for Bliend Peopels</ion-title>
    </ion-toolbar>
  </ion-footer>
