<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<ion-split-pane>
  <ion-menu contentId="content" type="push" *ngIf="authenticationService.isAuthenticated()">
 
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
 
    <ion-content>
      <ion-list>
        
        <ion-menu-toggle  auto-hide="false" *ngFor="let p of pages">
          <ion-item class="animated bounceInLeft delay-0.5s" (click)="goTo(p.url)" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
              <ion-icon slot="start" [name]="p.icon" ></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
            <ion-badge color="secondary">{{p.count}}</ion-badge>
          </ion-item>
        </ion-menu-toggle>
     

        <ion-item class="animated rollIn delay-1s" tappable (click)="logout()" routerDirection="root">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Logout
        </ion-item>
 
      </ion-list>
 
    </ion-content>
 
  </ion-menu>

 
  <ion-router-outlet id="content" main></ion-router-outlet>


 
</ion-split-pane>
    <ion-fab (click)="goTo('compose-email')" vertical="bottom" horizontal="end" slot="fixed" *ngIf="authenticationService.isAuthenticated()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>